.syntaxhighlighter {
    background-color: #0A2B1D !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #0A2B1D !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #0A2B1D !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #233729 !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: white !important;
}

.syntaxhighlighter table caption {
    color: #F8F8F8 !important;
}

.syntaxhighlighter .gutter {
    color: #497958 !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #41A83E !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #41A83E !important;
    color: #0A2B1D !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: #96DD3B !important;
    background: black !important;
    border: 1px solid #41A83E !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #96DD3B !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: white !important;
}

.syntaxhighlighter .toolbar {
    color: white !important;
    background: #41A83E !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: white !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: #FFE862 !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #F8F8F8 !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #336442 !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #9DF39F !important;
}

.syntaxhighlighter .keyword {
    color: #96DD3B !important;
}

.syntaxhighlighter .preprocessor {
    color: #91BB9E !important;
}

.syntaxhighlighter .variable {
    color: #FFAA3E !important;
}

.syntaxhighlighter .value {
    color: #F7E741 !important;
}

.syntaxhighlighter .functions {
    color: #FFAA3E !important;
}

.syntaxhighlighter .constants {
    color: #E0E8FF !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #96DD3B !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #EB939A !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #91BB9E !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #EDEF7D !important;
}

.syntaxhighlighter .comments {
    font-style: italic !important;
}

.syntaxhighlighter .keyword {
    font-weight: bold !important;
}
