.syntaxhighlighter {
    background-color: white !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: white !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: white !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #E0E0E0 !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: black !important;
}

.syntaxhighlighter table caption {
    color: black !important;
}

.syntaxhighlighter .gutter {
    color: #AFAFAF !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #6CE26C !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #6CE26C !important;
    color: white !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: blue !important;
    background: white !important;
    border: 1px solid #6CE26C !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: blue !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: red !important;
}

.syntaxhighlighter .toolbar {
    color: white !important;
    background: #6CE26C !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: white !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: black !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #D11010 !important;
}

.syntaxhighlighter .keyword {
    color: #006699 !important;
}

.syntaxhighlighter .preprocessor {
    color: gray !important;
}

.syntaxhighlighter .variable {
    color: #AA7700 !important;
}

.syntaxhighlighter .value {
    color: #009900 !important;
}

.syntaxhighlighter .functions {
    color: #FF1493 !important;
}

.syntaxhighlighter .constants {
    color: #0066CC !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #006699 !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #FF1493 !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}

.syntaxhighlighter .keyword {
    font-weight: bold !important;
}
