.syntaxhighlighter {
    background-color: #0F192A !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #0F192A !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #0F192A !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #253E5A !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: #38566F !important;
}

.syntaxhighlighter table caption {
    color: #D1EDFF !important;
}

.syntaxhighlighter .gutter {
    color: #AFAFAF !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #435A5F !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #435A5F !important;
    color: #0F192A !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: #428BDD !important;
    background: black !important;
    border: 1px solid #435A5F !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #428BDD !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #1DC116 !important;
}

.syntaxhighlighter .toolbar {
    color: #D1EDFF !important;
    background: #435A5F !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: #D1EDFF !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: #8AA6C1 !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #D1EDFF !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #428BDD !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #1DC116 !important;
}

.syntaxhighlighter .keyword {
    color: #B43D3D !important;
}

.syntaxhighlighter .preprocessor {
    color: #8AA6C1 !important;
}

.syntaxhighlighter .variable {
    color: #FFAA3E !important;
}

.syntaxhighlighter .value {
    color: #F7E741 !important;
}

.syntaxhighlighter .functions {
    color: #FFAA3E !important;
}

.syntaxhighlighter .constants {
    color: #E0E8FF !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #B43D3D !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #F8BB00 !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: white !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #FFAA3E !important;
}
