.syntaxhighlighter {
    background-color: #222222 !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #222222 !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #222222 !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #253E5A !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: white !important;
}

.syntaxhighlighter table caption {
    color: lime !important;
}

.syntaxhighlighter .gutter {
    color: #38566F !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #435A5F !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #435A5F !important;
    color: #222222 !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: #428BDD !important;
    background: black !important;
    border: 1px solid #435A5F !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #428BDD !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: lime !important;
}

.syntaxhighlighter .toolbar {
    color: #AAAAFF !important;
    background: #435A5F !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: #AAAAFF !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: #9CCFF4 !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: lime !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #428BDD !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: lime !important;
}

.syntaxhighlighter .keyword {
    color: #AAAAFF !important;
}

.syntaxhighlighter .preprocessor {
    color: #8AA6C1 !important;
}

.syntaxhighlighter .variable {
    color: aqua !important;
}

.syntaxhighlighter .value {
    color: #F7E741 !important;
}

.syntaxhighlighter .functions {
    color: #FF8000 !important;
}

.syntaxhighlighter .constants {
    color: yellow !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #AAAAFF !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: red !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: yellow !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #FFAA3E !important;
}
