.syntaxhighlighter {
    background-color: black !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: black !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: black !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #2A3133 !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: white !important;
}

.syntaxhighlighter table caption {
    color: #D3D3D3 !important;
}

.syntaxhighlighter .gutter {
    color: #D3D3D3 !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #990000 !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #990000 !important;
    color: black !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: #EBDB8D !important;
    background: black !important;
    border: 1px solid #990000 !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #EBDB8D !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #FF7D27 !important;
}

.syntaxhighlighter .toolbar {
    color: white !important;
    background: #990000 !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: white !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: #9CCFF4 !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #D3D3D3 !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #FF7D27 !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #FF9E7B !important;
}

.syntaxhighlighter .keyword {
    color: aqua !important;
}

.syntaxhighlighter .preprocessor {
    color: #AEC4DE !important;
}

.syntaxhighlighter .variable {
    color: #FFAA3E !important;
}

.syntaxhighlighter .value {
    color: #009900 !important;
}

.syntaxhighlighter .functions {
    color: #81CEF9 !important;
}

.syntaxhighlighter .constants {
    color: #FF9E7B !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: aqua !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #EBDB8D !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #FF7D27 !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #AEC4DE !important;
}
