.syntaxhighlighter {
    background-color: white !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: white !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: white !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #C3DEFE !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: white !important;
}

.syntaxhighlighter table caption {
    color: black !important;
}

.syntaxhighlighter .gutter {
    color: #787878 !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #D4D0C8 !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #D4D0C8 !important;
    color: white !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: #3F5FBF !important;
    background: white !important;
    border: 1px solid #D4D0C8 !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #3F5FBF !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #AA7700 !important;
}

.syntaxhighlighter .toolbar {
    color: #A0A0A0 !important;
    background: #D4D0C8 !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: #A0A0A0 !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: red !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #3F5FBF !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #2A00FF !important;
}

.syntaxhighlighter .keyword {
    color: #7F0055 !important;
}

.syntaxhighlighter .preprocessor {
    color: #646464 !important;
}

.syntaxhighlighter .variable {
    color: #AA7700 !important;
}

.syntaxhighlighter .value {
    color: #009900 !important;
}

.syntaxhighlighter .functions {
    color: #FF1493 !important;
}

.syntaxhighlighter .constants {
    color: #0066CC !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #7F0055 !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #FF1493 !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}

.syntaxhighlighter .keyword {
    font-weight: bold !important;
}

.syntaxhighlighter .xml .keyword {
    color: #3F7F7F !important;
    font-weight: normal !important;
}

.syntaxhighlighter .xml .color1, .syntaxhighlighter .xml .color1 a {
    color: #7F007F !important;
}

.syntaxhighlighter .xml .string {
    font-style: italic !important;
    color: #2A00FF !important;
}
