.syntaxhighlighter {
    background-color: #121212 !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #121212 !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #121212 !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #2C2C29 !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: white !important;
}

.syntaxhighlighter table caption {
    color: white !important;
}

.syntaxhighlighter .gutter {
    color: #AFAFAF !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #3185B9 !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #3185B9 !important;
    color: #121212 !important;
}

.syntaxhighlighter.printing .line .content {
    border: none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    color: #3185B9 !important;
    background: black !important;
    border: 1px solid #3185B9 !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #3185B9 !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #D01D33 !important;
}

.syntaxhighlighter .toolbar {
    color: white !important;
    background: #3185B9 !important;
    border: none !important;
}

.syntaxhighlighter .toolbar a {
    color: white !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: #96DAFF !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: white !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #696854 !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #E3E658 !important;
}

.syntaxhighlighter .keyword {
    color: #D01D33 !important;
}

.syntaxhighlighter .preprocessor {
    color: #435A5F !important;
}

.syntaxhighlighter .variable {
    color: #898989 !important;
}

.syntaxhighlighter .value {
    color: #009900 !important;
}

.syntaxhighlighter .functions {
    color: #AAAAAA !important;
}

.syntaxhighlighter .constants {
    color: #96DAFF !important;
}

.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #D01D33 !important;
    background-color: none !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #FFC074 !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #4A8CDB !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #96DAFF !important;
}

.syntaxhighlighter .functions {
    font-weight: bold !important;
}
